<!DOCTYPE html>
<html>
<head>
	<title>GitHub Watchtower</title>
	<link rel="stylesheet" href="/stylesheets/base.css" type="text/css" />
	<script src="/javascripts/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="sidebar">
    <h2 id="logo">GitHub Watchtower</h2>
    <ul id="nav">
      <li data-title="All Events" data-service="all">
        <strong>All Events</strong>
        <em>{{ beam_total_count }} in the past 24 hours</em>
      </li>
      <li data-title="Tweets" data-service="twitter">
        <strong>Tweets</strong>
        <em>{{ tweet_beams_count }} in the past 24 hours</em>
      </li>
      <li data-title="Blog Comments" data-service="hackernews">
        <strong>Hacker News Stories</strong>
        <em>{{ hn_beams_count }} in the past 24 hours</em>
      </li>
    </ul>
    <p class="status" style="display:none">Requesting...</p>
  </div>
  <div id="main">
    {{{yield}}}
  </div>
</body>
</html>